@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import '../variables.scss';

.item-info-container {
  background: white;

  .item-img-container {
    @include media-breakpoint-up(sm) {
      img {
        width: 680px;
      }
    }
  }

  .item-condition-container {
    margin-top: $x-normal-margin;
    font-size: $normal-size;
  }

  .item-title-container {
    margin-top: $normal-margin;

    .title {
      font-size: $normal-size;
    }
  }

  .item-price-container {
    margin-top: $x-normal-margin;
    font-size: 46px;
  }

  .item-buy-form-container {
    margin-top: 32px;
    margin-right: 32px;

    .item-buy-button {
      background-color: $action-button-color;
      color: #FFFFFF;
    }
  }

  .item-description-title-container {
    margin-left: $x-normal-margin;
      
    span {
      font-size: 28px;
    }
  }

  .item-description-container {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}