@import 'bootstrap/scss/mixins';
@import '../variables.scss';

.search-bar {
  background-color: $yellow;

  .search-input {
    max-width: 300px;
  }

  .impose-image {
    @include text-hide;
    background: $tiny-gray url('./Search.png') 7px 9px/18px 18px no-repeat;
  }
}
